.header{

    top: 8px;
}

.header ul{

    display:flex;
    flex-direction: row;
    justify-content:center;
    list-style-type: none;
    overflow: hidden;
}

.header li{
    padding-left: 10%;
    padding-right: 10%;
}

.active-item{
    background-color: antiquewhite;
    text-decoration: none;
    color: black;
}

.inactive-item{
    text-decoration: none;
    color: black;
}